@model CL2.Models.Administracion

@{
    ViewData["Title"] = "Agregar Administración";
}
<div class="container-fluid px-4">

    <h1 class="mt-4">Agregar Administración</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
            {
                @Html.AntiForgeryToken()
            }

            <form asp-action="Create" id="formID">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AdministracionPeriodo" class="control-label"></label>
                    <input asp-for="AdministracionPeriodo" class="form-control" />
                    <span asp-validation-for="AdministracionPeriodo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PresidenteRepublica" class="control-label"></label>
                    <input asp-for="PresidenteRepublica" class="form-control" />
                    <span asp-validation-for="PresidenteRepublica" class="text-danger"></span>
                </div>
                <div class="form-group btn-group mt-lg-4" role="group">
                    <a asp-controller="Utilidades" asp-action="Index" class=" btn btn-dark">Volver</a>
                    <button type="button" class="btn btn-success" onclick="RegistrarAdministracion()">Agregar</button>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div>

    </div>

</div>

<script src="~/js/functions.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_ValidationScriptsPartial" />
}