@model CL2.Models.Administracion

@{
    ViewData["Title"] = "Eliminar Administración";
}
<partial name="_NotificationPartial" />

<div class="container-fluid px-4">

    <h1 class="mt-4">¿Desea eliminar esta Administración?</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AdministracionPeriodo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AdministracionPeriodo)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PresidenteRepublica)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PresidenteRepublica)
            </dd>
        </dl>
        <hr />

        <form asp-action="Delete">
            <input type="hidden" asp-for="AdministracionID" />
            <div class="form-group btn-group mt-lg-4" role="group">
                <a asp-controller="Utilidades" asp-action="Index" class="btn btn-dark">Volver</a>
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="~/js/functions.js"></script>

