@model CL2.Models.DiscusionComision

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DiscusionComision</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DiscusionComisionID" />
            <input type="hidden" asp-for="SesionComisionActividadID" />
            <input type="hidden" asp-for="SesionComisionID" />
            <div class="form-group">
                <label asp-for="DiputadoID" class="control-label"></label>
                <input asp-for="DiputadoID" class="form-control" />
                <span asp-validation-for="DiputadoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumenComentario" class="control-label"></label>
                <input asp-for="ResumenComentario" class="form-control" />
                <span asp-validation-for="ResumenComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetalleComentario" class="control-label"></label>
                <input asp-for="DetalleComentario" class="form-control" />
                <span asp-validation-for="DetalleComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoComentario" class="control-label"></label>
                <input asp-for="TipoComentario" class="form-control" />
                <span asp-validation-for="TipoComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
