@model CL2.Models.Tema

@{
    ViewData["Title"] = "Editar Tema";
}
<partial name="_NotificationPartial" />
<div class="container-fluid px-4">
    <h1 class="mt-4">Editar Tema</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TemaID" />
                <div class="form-group">
                    <label asp-for="TemaDesc" class="control-label"></label>
                    <input asp-for="TemaDesc" class="form-control" />
                    <span asp-validation-for="TemaDesc" class="text-danger"></span>
                </div>
                <div class="form-group btn-group mt-lg-4" role="group">
                    <a asp-controller="Utilidades" asp-action="Index" class=" btn btn-dark">Volver</a>
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <hr />
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="~/js/functions.js"></script>