@model CL2.Models.Diputado

@{
    ViewData["Title"] = "Agregar Diputado";
}

   <partial name="_NotificationPartial" />


<html lang="en">
<body class="sb-nav-fixed">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-lg-4">Agregar Diputado</h1>

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Diputado" asp-action="Index">Diputados</a></li>
                <li class="breadcrumb-item active">Agregar Diputado</li>
            </ol>

            <hr />

            <form asp-action="Create">
                <div class="row">


                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreateForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }


                    <div class="col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="NombreDiputado" class="control-label"></label>
                            <input asp-for="NombreDiputado" class="form-control" />
                            <span asp-validation-for="NombreDiputado" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PrimerApellido" class="control-label"></label>
                            <input asp-for="PrimerApellido" class="form-control" />
                            <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SegundoApellido" class="control-label"></label>
                            <input asp-for="SegundoApellido" class="form-control" />
                            <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Provincia" class="control-label"></label>
                            <select asp-for="Provincia" class="form-control">
                                <option disabled selected> Seleccione la provincia de representación </option>
                                <option value="San Jose">San José</option>
                                <option value="Alajuela">Alajuela</option>
                                <option value="Cartago">Cartago</option>
                                <option value="Heredia">Heredia</option>
                                <option value="Guanacaste">Guanacaste</option>
                                <option value="Puntarenas">Puntarenas</option>
                                <option value="Limon">Limón</option>
                            </select>
                            <span asp-validation-for="Provincia" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CorreoDiputado" class="control-label"></label>
                            <input asp-for="CorreoDiputado" class="form-control" placeholder="nombre@ejemplo.com" />
                            <span asp-validation-for="CorreoDiputado" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="TelefonoDiputado" class="control-label"></label>
                            <input asp-for="TelefonoDiputado" class="form-control" placeholder="8888-8888" />
                            <span asp-validation-for="TelefonoDiputado" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="TelefonoDiputado2" class="control-label"></label>
                            <input asp-for="TelefonoDiputado2" class="form-control" placeholder="8888-8888" />
                            <span asp-validation-for="TelefonoDiputado2" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="GeneroDiputado" class="control-label"></label>
                            <select asp-for="GeneroDiputado" class="form-control">
                                <option disabled selected> Seleccione el Género </option>
                                <option>M</option>
                                <option>F</option>
                                <option>NB</option>
                            </select>
                            <span asp-validation-for="GeneroDiputado" class="text-danger" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Imagen" class="control-label"></label>
                            <input asp-for="Imagen" class="form-control" />
                            <span asp-validation-for="Imagen" class="text-danger"></span>
                        </div>
                    </div>
              
                  
                     
                            <div class="form-group btn-group mt-lg-4 col-md-4" role="group">
                                <a asp-action="Index" class=" btn btn-dark">Volver</a>
                                <input type="submit" value="Agregar" class="btn btn-success" />
                            </div>

                      

                    </div>
              
            </form>
        </div>
    
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>

</body>
</html>
